node_modules
npm-debug.log
yarn-error.log

logs
*.log
*.log.*

node_modules/
jspm_packages/

dist/
build/

coverage/

jest-cache/
jest/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
